<div class="container mt-3">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" routerLink="/dashboard">Dashboard</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" routerLink="/dashboard">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/users">Users</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" (click)="upload()">Upload</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" (click)="remove()">Remove</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" (click)="admin()">Admin</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/excel">Excel</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/youtube">Youtube</a>
              </li>
            </ul>
            <div class="d-flex" role="search">
                <button class="btn btn-outline-light" type="submit" (click)="logOut()">Logout</button>
            </div>
          </div>
        </div>
    </nav>
    <div class="container mb-5 mt-5" *ngIf="existImg">
      <div class="row row-cols-1 row-cols-md-3 g-4">
        <div *ngFor="let image of images" class="col">
          <div class="card h-100">
            <img [src]="image" class="card-img-top" alt="..." width="150" height="300">
            <div class="card-body">
              <!-- <h5 class="card-title">{{ image }}</h5> -->
              <div class="d-grid gap-2">
                <a class="btn btn-primary" type="button" href="{{image}}" download="imagen.jpg">Ver Imagen</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
